// Theme's Palette
@import("C:/Users/JinYun/Desktop/项目/demo/pengBlog/blog/node_modules/vuepress-theme-jabinblog/styles/palette.styl")

// User's Palette
@import("C:/Users/JinYun/Desktop/项目/demo/pengBlog/blog/.vuepress/styles/palette.styl")